<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>EMPLOYEE SIGNUP</h1>
          <H6>Enter your details to register</H6>
        </div>
        <form>
          <form>
            <div class="mb-3">
              <label for="exampleFormControlInput" class="form-label">Name:</label>
              <input type="text" class="form-control" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email:</label>
              <input type="text" class="form-control" placeholder="(username)@gmail.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput2" class="form-label">Password:</label>
              <input type="password" class="form-control" placeholder="password">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput3" class="form-label">Phone Number:</label>
              <input type="number" class="form-control" placeholder="Enter your phone number">
            </div>
            <button type="submit" class="btn btn-primary mb-3" >Signup</button>
          </form>
          <a routerLink="/elogin" >Already registered? click here to login!</a>
        </form>
      </div>
    </div>


